<mat-toolbar color="primary">

    <span><a routerLink="/">My Posts</a></span>
  <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a
          routerLinkActive="mat-accent"
          mat-button
          routerLink="/create"
        >New Post
        </a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a
          routerLinkActive="mat-accent"
          mat-button
          routerLink="auth/login"
        >Login
        </a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a
          routerLinkActive="mat-accent"
          mat-button
          routerLink="auth/sign-up"
        >Sign Up
        </a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button (click)="logOut()" mat-button>Logout</button>
      </li>
    </ul>

</mat-toolbar>
