<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="SavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="post Tittle"
        formControlName="title"
      >
      <mat-error *ngIf="form.get('title').invalid">Please enter the title of post</mat-error>
    </mat-form-field>
        <div>
          <button type="button"
                  mat-stroked-button (click)="postImage.click()"
          >Pick Image</button>
          <input type="file" (change)="onFilePicked($event)" #postImage>
        </div>
    <mat-form-field>
        <textarea
          placeholder="Post Content"
          matInput
          rows="4"
          formControlName="content"
        ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter the content of post</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button>Save Post</button>
  </form>
</mat-card>
